<div class="login-clean">
    <div class="center" >
        <h2 class="centre">Forgot Password</h2>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" [(ngModel)]='user.userEmail' required #e='ngModel'/>
            <span class='text-danger' *ngIf="e.errors && e.touched">
                <span *ngIf="e.errors.required"> Email is required </span>
            </span>
        </div>
        
		 <div class="form-group" *ngIf="otpSent==false"><button class="btn btn-primary btn-block" (click)="sendOtp()">Send OTP</button></div>
        <div *ngIf="otpSent">
        <div class="form-group"><input class="form-control" type="number" name="OTP" placeholder="OTP" [(ngModel)]="userotp" required minlength=6 #o='ngModel' />
            <span class='text-danger' *ngIf="o.errors && o.touched">
                <span *ngIf="o.errors.required"> OTP is required </span>
                <span *ngIf="o.errors.minlength"> OTP consists of 6 numbers </span>
            </span>
        </div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]='user.userPassword'/></div>
		<div class="form-group"><input class="form-control" type="password" name="cpassword" placeholder="Confirm Password" /></div>
        <div class="form-group"><button class="btn btn-primary btn-block" (click)="changePassword()">Reset Password</button></div>
		<div><a class="forgot" (click)="resendOtp()">Resend OTP</a></div>
        </div>
        <div><a class="forgot" href="/login">Go Back to Login.</a></div>
        <div><a class="forgot" href="/signUp">Dont have a account.Register</a></div>
        <p class='text-danger'>{{message}}</p>
    </div>
</div>