<div class="login-clean">
    <div class="center" >
        <h2 class="centre">Forgot Password</h2>
		<div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" /></div>
		 <div class="form-group" *ngIf="otpSent==false"><button class="btn btn-primary btn-block" (click)="sendOtp()">Send OTP</button></div>
        <div *ngIf="otpSent">
        <div class="form-group"><input class="form-control" type="number" name="OTP" placeholder="OTP" /></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" /></div>
		<div class="form-group"><input class="form-control" type="password" name="cpassword" placeholder="Confirm Password" /></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Reset Password</button></div>
		<div><a class="forgot" (click)="resendOtp()">Resend OTP</a></div>
        </div>
        <div><a class="forgot" href="/login">Go Back to Login.</a></div>
        <div><a class="forgot" href="/signUp">Dont have a account.Register</a></div>
    </div>
</div>