    <style>
        li
        {
            font-size: large;
            padding: 8px;
        }
        
    </style>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Shopaholics</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a routerLink="products">Products</a></li>
            <li><input type="text" placeholder="  Search Products" size="75" style="margin-top: 10px;"></li>
            <li><a href="#">Compare</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Cart</a></li>
            <li><a routerLink="profile">Login</a></li>
          </ul>
        </div>
    </nav>      
    <br>
    <router-outlet></router-outlet>