    <!--<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Shopaholics</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a routerLink="products">Products</a></li>
            <li><input type="text" placeholder="  Search Products" size="75" style="margin-top: 10px;"></li>
            <li><a href="#">Compare</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Cart</a></li>

            <li class="dropdown">
              <a href="#" class="dropbtn">Guest</a>
              <div class="dropdown-content">
                <a routerLink="login">Login</a>
                <a href="#">Orders</a>
                <a href="#">Wishlist</a>
                 <a routerLink="profile">Profile</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>      
    <br>-->
    <app-nav></app-nav>
    <div class="container">
      <router-outlet></router-outlet>
  </div>
    <div class="container">
      <div class="row">
          <div class="col">
  
          </div>
      </div>
      <div class=" row ">
          <div class="col ">

          </div>
      </div>
  </div>
