<h2>Personal Details</h2>
<br>

<div class="col-sm-8">
    Name <input type="text" width="50" class="form-control"><button class="btn btn-default">Edit</button>
    <br>
    Email <input type="text" size="50" class="form-control"> <button class="btn btn-default">Edit</button>
    <br>
    Mobile <input type="text" size="50" class="form-control"> <button class="btn btn-default">Edit</button>
    <br>
    Address <input type="text" size="50" class="form-control"> <button class="btn btn-default">Edit</button>
    <br>
    <button class="btn btn-success" style="text-align: center;">Done</button>
</div>