<h2>Delete Product</h2>
<br>

<div class="col-sm-8">
    Product Id <input type="text" width="50" class="form-control" [(ngModel)]="product.productId">
    <br>
    <button class="btn btn-success" style="text-align: center;"(click)="getProductById()">Search Product</button>
    <br>
    <br>
    <div>
         <router-outlet></router-outlet> <!--Description of product found -->
    </div>
    <button class="btn btn-danger" style="text-align: center;"(click)="deleteProduct()">Delete Product</button>
    <br>
</div>
