<h2>Delete Product</h2>
<br>

<div class="col-sm-8">
    <h4>Are you sure you want to delete this product?</h4>
    <div class="container">
        Product Name:{{product.productName}}<br/><br/>
        Product Description:{{product.productDescription}}<br/><br/>
        Product Price:{{product.productPrice}}<br/><br/>
        Product Brand:{{product.productBrand}}<br/><br/>
        Product Stock:{{product.productStock}}<br/><br/>
        <button class="btn btn-success" (click)='cancel()'>Cancel</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" (click)='deleteProduct()'>Delete</button></div>
</div>
