<div class="login-clean">
    <form class="center"  #cpForm='ngForm'>
        <h2 class="centre">Change Password</h2>
        <div class="form-group"><input class="form-control" type="password" name="email" placeholder="Current Password" [(ngModel)]='currentPassword' #cur='ngModel' required/></div>
        <span class='text-danger' *ngIf="cur.errors && cur.touched">
            <span *ngIf="cur.errors.required"> Current Password is required </span>
        </span>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="New Password" [(ngModel)]='newPassword' #newp='ngModel' required minlength=8 /></div>
        <span class='text-danger' *ngIf="newp.errors && newp.touched">
            <span *ngIf="newp.errors.required"> Password is required </span>
            <span *ngIf="newp.errors.minlength"> Password should be min 8 characters </span>
        </span>
        <div class="form-group"><input class="form-control" type="password" name="cpassword" placeholder="Confirm Password" [(ngModel)]='confirmPassword' #cnfrm='ngModel' required/></div>
        <span class='text-danger' *ngIf="cnfrm.errors && cnfrm.touched">
            <span *ngIf="cnfrm.errors.required"> Confirm Password is required </span>
        </span>
        <div class="form-group"><button class="btn btn-primary btn-block" (click)='changePassword(cpForm)' >Change Password</button></div>
        {{message}}
    </form>
</div>