
  <table *ngIf="cartModels!=undefined && cartModels.length>0" class="table table-bordered" style="text-align: center;">
    <tr>
      <th>Product</th>
      <th>Product Name
      <th>Price</th>
      <th>Quantity</th>
      <th>SubTotal</th>
      <th>Remove</th>
    </tr>
    <tr *ngFor="let p of cartModels">
      <td><img [src]="p.product.productImg1" width="50" height="50"></td>
      <td>{{p.product.productName}}</td>
      <td>{{p.product.productPrice}}</td>
      <td style="text-align: center;">
        <a (click)='decreseQuantity(p)' *ngIf='p.cart.quantity >0' class="btn btn-default">-</a>
        {{p.cart.quantity}}
        <a (click)='increaseQuntity(p)' *ngIf='p.cart.quantity<p.product.productStock' class="btn btn-default">+</a>
      </td>
      <td>{{p.product.productPrice*p.cart.quantity| currency:'INR'}}</td>
      <td><button class="btn btn-default" (click)="removeFromCart(p)">Remove from cart</button></td>
    </tr>
  </table>

  <form #addressForm='ngForm' *ngIf='cartModels.length!=0'>
    <div>
      Total:{{cartTotal | currency:'INR'}}
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input [(ngModel)]="address1" #a1='ngModel' name="first" class="form-control" placeholder="123 Main St." required>
      <span class='text-danger' *ngIf="a1.errors && a1.touched">
        <span *ngIf="a1.errors.required"> Address 1 is required </span>
    </span></div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input [(ngModel)]="address2" #a2='ngModel' name="second" class="form-control" placeholder="Apartment, studio, or floor" required>
      <span class='text-danger' *ngIf="a2.errors && a2.touched">
        <span *ngIf="a2.errors.required"> Address 2 is required </span>
    </span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input [(ngModel)]="city" #c='ngModel' name="city" class="form-control" required>
        <span class='text-danger' *ngIf="c.errors && c.touched">
          <span *ngIf="c.errors.required"> City is required </span>
      </span>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <input [(ngModel)]="state" #s='ngModel' name="state" class="form-control" required>
        <span class='text-danger' *ngIf="s.errors && s.touched">
          <span *ngIf="s.errors.required"> State is required </span>
      </span>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input [(ngModel)]="zip" #z='ngModel' name="zip" class="form-control" type='number' required>
        <span class='text-danger' *ngIf="z.errors && z.touched">
          <span *ngIf="z.errors.required"> Zip Code is required </span>
      </span>
      </div>
    </div>
    <button class="btn btn-success" (click)='placeOrder(addressForm)'>Checkout</button>
</form>
<p class='text-danger'>{{message}}</p>
  <h1 *ngIf="cartModels==undefined || cartModels.length==0">No Items in Cart</h1>