<div class="container">
Retailer Name:<input type="text" [(ngModel)]='user.name' /><br/><br/>
Retailer Email:<input type="text" [(ngModel)]='user.email'/><br/><br/>
Retailer Password:<input type="password" [(ngModel)]='user.password'/><br/><br/>
Retailer Mobile:<input type="number" [(ngModel)]='user.mobile'/><br/><br/>
<button class="btn btn-success" (click)='register()'>Register</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-danger" (click)='cancel()'>Cancel</button>
</div>
{{message}}