<h2>Add Product</h2>
<br>

<div class="col-sm-8">
    Product Name <input type="text" width="50" class="form-control">
    <br>
    Product Description <input type="text" size="50" class="form-control">
    <br>
    Product Price <input type="text" size="50" class="form-control">
    <br>
    Product Stock <input type="text" size="50" class="form-control">
    <br>
    Product Brand <input type="text" size="50" class="form-control">
    <br>
    Product Image URL1 <input type="text" size="50" class="form-control">
    <br>
    Product Image URL2 <input type="text" size="50" class="form-control">
    <br>
    Product Image URL3 <input type="text" size="50" class="form-control">
    <br>
    Product Image URL4 <input type="text" size="50" class="form-control">
    <br>
    <!-- Add datalist for categories -->
    Product Category <input type="text" size="50" class="form-control"> 
    <br>
    
    <button class="btn btn-success" style="text-align: center;">Add</button>
</div>
