<h2>Modify Product</h2>
<br>

<form class="col-sm-8" #add='ngForm'>
  Product Name <input type="text" width="50" class="form-control" [(ngModel)]="product.productName" name="name" #n='ngModel' required>
  <span class='text-danger' *ngIf="n.errors && n.touched">
    <span *ngIf="n.errors.required"> Product Name is required </span>
</span>
  <br>
  Product Description <input type="text" size="50" class="form-control" [(ngModel)]="product.productDescription" name="Description" #d='ngModel' required>
  <span class='text-danger' *ngIf="d.errors && d.touched">
    <span *ngIf="d.errors.required"> Product Description is required </span>
</span>
  <br>
  Product Price <input type="text" size="50" class="form-control" [(ngModel)]="product.productPrice" name="Price" #p='ngModel' required> 
  <br>
  Product Stock <input type="text" size="50" class="form-control" [(ngModel)]="product.productStock" name="Stock" #s='ngModel' required>
  <br>
  Product Brand <input type="text" size="50" class="form-control" [(ngModel)]="product.productBrand" name="Brand" #b='ngModel' required>
  <br>
  Product Image URL1 <input type="text" size="50" class="form-control" [(ngModel)]="product.productImg1" name="URL1" #I1='ngModel' required>
  <br>
  Product Image URL2 <input type="text" size="50" class="form-control" [(ngModel)]="product.productImg2" name="URL2" #I2='ngModel'>
  <br>
  Product Image URL3 <input type="text" size="50" class="form-control" [(ngModel)]="product.productImg3" name="URL3">
  <br>
  Product Image URL4 <input type="text" size="50" class="form-control" [(ngModel)]="product.productImg4" name="URL4">
  <br>
  <!-- Add datalist for categories -->
  Product Category <select class="form-control" [(ngModel)]='product.categoryId' name="category" #c='ngModel' required>
      <option *ngFor="let cat of categories" [value]='cat.categoryId'>{{cat.categoryName}}</option>
    </select>
  <br>
  <p class="text-danger">{{message}}</p>
  <button class="btn btn-success" style="text-align: center;" (click)="modifyProduct(add)">Modify</button>
  </form>
