          <style>
        #divproducts
        {
            background-color: aquamarine;
            height: 400px;
        }

        #divtopproducts
        {
            background-color:beige;
            height: 400px;
        }

        #divimg
        {
            background-color:whitesmoke;
            display: inline-block;
            padding: 10px;
            margin:10px;
        }
          </style>

        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="divproducts">
                    <div id="divimg">
                        <app-product></app-product>
                    </div>
                    <div id="divimg">
                        <app-product></app-product>
                    </div>
                    <div id="divimg">
                        <app-product></app-product>
                    </div>
    
                    <div id="divimg">
                        <app-product></app-product>
                    </div>  
                    <br><br> 
                    <button class="btn btn-primary" style="float: right;" (click)="goToProductsPage()">See All</button>
                </div>
              
            </div>
            <br>
            <div class="row">
              
                <div class="col-sm-12" id="divtopproducts">
                    <div id="divimg">
                        <app-product></app-product>
                    </div>
                    <div id="divimg">
                        <app-product></app-product>
                    </div>
                    <div id="divimg">
                        <app-product></app-product>
                    </div>
    
                    <div id="divimg">
                        <app-product></app-product>
                    </div>  
                </div>       
            </div>
          </div>
      